<antsConfig>
  <accessionCount>11</accessionCount>
  <creator>Office of the President</creator>
  <creatorId>ua000</creatorId>
  <donor>Jill Sample</donor>
  <role>Records Manager</role>
  <email>jsample@albany.edu</email>
  <office>AH-312</office>
  <address1>1400 Washington Avenue</address1>
  <address2>Albany, NY 12222</address2>
  <address3/>
  <transferMethod>network</transferMethod>
  <transferLocation>C:\Projects\Stor\ants\destination</transferLocation>
  <login/>
  <pw/>
</antsConfig>
